{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-5">
        <h2>Inscription</h2>
        {{ form(newInscriptionForm) }}
    </div>
{% endblock %}

{% block aside %}

{% endblock %}

